body{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin:0 auto ;
}

.logo{
    color: red;
}



.navbar{

    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: fixed;
    top: 5px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    max-width: 500px;
}

.hero-subheading{
   font-size: 40px; 
   margin: 2px 0;
}

.welcome{
    color: red;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.halo{
    background-color: rgb(22, 7, 37);
    width: 300px;
    height: 300px;
    border-radius: 100%;

}

.hero-img{
    width: 30%;
    position: relative;
    
}

.hero-img img{
    width: 100%;
}

.halo{
    position: absolute;
    top: -10px;
    z-index: -5;
}

.socials-logo{
    display: flex;
    list-style-type: none;
}

.socials-logo li{
    border: 2px solid red;
    width: 15px;
    height: 15px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
}

.socials-logo li a{
    color: red;
}

